@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #e2e2e2;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background-color: #e2e2e2;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    background-color: #586282;
    border: 1px solid #e2e2e2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474f69;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 1050;
    background: #007bff !important;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}

.n{
    border-bottom: 1px solid #e2e2e2 !important;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background-color: #474f69 !important;
    color: #e2e2e2 !important;
}

#dismiss:hover {
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1049;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px 0 0 20px;
    background: #007bff !important;
}

#sidebar ul.components {
    border-bottom: 1px solid #e2e2e2;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #e2e2e2;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.container-fluid {
    justify-content: unset !important;
}

.nav-menu {
    margin-top: 56px;
}

.navbar, .container {
    transition: filter ease 0.3s;
}

.navbar.blur, .container.blur {
    filter: blur(5px);
}

.fa {
    margin-right: 1em;
}

.jumbotron {
    background-color: #474f69 !important;
    color: #e2e2e2;
    box-shadow: 0px 5px 10px black;
}

p {
    color: #e2e2e2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #474f69;
    color: #e2e2e2;
    text-align: center;
    border-top: 1px solid #e2e2e2 !important;
}

.text-#e2e2e2{
    color: #e2e2e2 !important;
}

.bg-primary {
    background-color: #474f69 !important;
    color: #e2e2e2 !important;
}

#sidebar .sidebar-header {
    background-color: #474f69 !important;
}

#sidebar {
    background-color: #474f69 !important;
}

hr {
    background-color: #e2e2e2;
    border-color: #e2e2e2 !important;
}

.container .btn:not(.btn-outline-danger, .btn-outline-success) {
    border: 0 !important;
}

.text-light{
    color: #e2e2e2 !important;
}

.btn-primary {
    background-color: #636e91 !important;
    border-color: #636e91 !important;
    color: #e2e2e2 !important;
}

.btn-primary:hover {
    background-color: #586282 !important;
}

.btn-primary:focus {
    background-color: #586282 !important;
}

.bg-secondary {
    background-color: #586282 !important;
}

.dropdown-toggle {
    background-color: #474f69 !important;
}

.dropdown-toggle:hover {
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

.dropdown-toggle collapsed {
    background-color: #2f3136 !important;
}

ul ul a {
    background-color: #474f69 !important;
}

ul ul a:hover {
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

.dataTables_wrapper {
    color: #e2e2e2;
}

label {
    color: #e2e2e2;
}

.modal-content label {
    color: #e2e2e2;
}

.sidebar-header label {
    color: #e2e2e2;
}

th {
    color: black;
}

.dataTables_length select {
    color: #e2e2e2;
}

.dataTables_filter input {
    color: #e2e2e2;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #586282 !important;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #636e91 !important;
}

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
    border-top: 1px solid #e2e2e2 !important;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
    background-color: #474f69 !important;
    color: #e2e2e2;
}

/*.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: black !important;
}*/

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #e2e2e2 !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    color: #e2e2e2 !important;
    font-size: 15px;
}

.dataTables_scrollHead {
    background-color: #474f69 !important;
}

/*
.dataTables_scroll {
    border: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}
*/
.modal-content {
    background-color: #474f69 !important;
    color: #e2e2e2 !important;
}

.close {
    color: #e2e2e2;
    text-shadow: none;
}

.close:hover {
    color: #e2e2e2;
}

.btn-outline-light:hover {
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-position: 0% 0%;
    background-color: none !important;
    background: none !important;
    border: 1px solid #e2e2e2;
    color: #e2e2e2 !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    background-color: #636e91 !important;
    box-shadow: none !important;
    border: 1px solid #e2e2e2;
    outline: none;
    color: #e2e2e2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: none !important;
    background-color: #636e91 !important;
    color: #e2e2e2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: none !important;
    background-color: #586282 !important;
    color: #e2e2e2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-position: 0% 0%;
    background-color: none !important;
    background: none !important;
    color: #e2e2e2 !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background-position: 0% 0%;
    background-color: none !important;
    background: none !important;
    border: 1px solid #e2e2e2;
    color: #e2e2e2 !important;
    background-image: none !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
}

.dataTables_wrapper .dataTables_length select {
    border: 1px solid #e2e2e2;
}

.dataTables_wrapper .dataTables_filter input:hover {
    border-color: #e2e2e2 !important;
    outline-color: #8d99bd !important;
}

.dataTables_wrapper .dataTables_filter input:focus {
    border-color: #e2e2e2 !important;
    outline-color: #8d99bd !important;
}

option {
    background-color: #474f69;
    color: #e2e2e2 !important;
}

.form-control:focus, .btn-primary.focus, .btn-primary:focus {
    border-color: #cccdce !important;
    box-shadow: 0 0 0 0.2rem #8d99bd !important;
}

.dataTable th {
    #e2e2e2-space: nowrap;
}

.btn-outline-danger {
    color: #e87a85 !important;
}

.btn-outline-danger:hover {
    color: #e2e2e2 !important;
}

.svg-icon path{
    fill: #e2e2e2 !important;
}

.fill-icon{
    fill: #e2e2e2 !important;
}

.card {
    
}

.tbody {
    max-height: 50vh;
    overflow-y: auto;
}

.modal-body {
    max-height: 50vh;
    overflow-y: auto;
}

.card {
    box-shadow: 0px 5px 10px black;
}

th {
    color: #e2e2e2 !important;
    /*border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;*/
}

/*
th:first-child {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-right: 1px solid #e2e2e2;
    border-radius: 0 10px 0 0;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #e2e2e2;
}

.sorting_asc {
    background-color: #586282 !important;
}

.sorting_desc {
    background-color: #586282 !important;
}
*/

.text-logo {
    color: black !important;
    font-size: 1.6em;
    font-weight: bold;
}



.text-logo-titulo {
    color: #636e91 !important;
    font-size: 40px;
    font-weight: 900;
}

@media screen and (min-width: 720px) {
    .text-logo-titulo {
        font-size: 60px;
    }
}

.dropdown {
    background: #474f69 !important;
    color: #e2e2e2 !important;
    border: 1px solid #e2e2e2 !important;
}

select {
    background-color: #474f69 !important;
    color: #e2e2e2 !important;
    padding: 0 0 1px 0;
    border: 1px solid #e2e2e2;
}

.txtbox {
    background-color:#474f69 !important;
    color: #e2e2e2;
    border: 1px solid #e2e2e2;
}

.print{
    display: none;
}

.mCustomScrollBox{
    border-right: 1px solid #e2e2e2 !important;
}

.txtVenda {
    color: #a19ff5 !important;
}

@media print {
    .bg-primary {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .btn, .txt, .footer{
        display: none !important;
    }

    .print {
        display: block;
    }
}